<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/87aadf45-72a5-4a0a-8cb3-7963a93e487b/resourceGroups/healme/providers/Microsoft.ApiManagement/service/HealMeAppBackendAPIapi2/apis/HealMeAppBackendAPI2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/87aadf45-72a5-4a0a-8cb3-7963a93e487b/resourceGroups/healme/providers/Microsoft.Web/sites/HealMeAppBackendAPI20241117153308</ResourceId>
    <ResourceGroup>healme</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://healmeappbackendapi20241117153308.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>930ec002-b799-4d0e-8f8d-c3e4c4f488eb</ProjectGuid>
    <PublishUrl>https://healmeappbackendapi20241117153308.scm.azurewebsites.net/</PublishUrl>
    <UserName>$HealMeAppBackendAPI20241117153308</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>